# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e664a3581a0bd14dea1f9e718e9a8e612ac6bfa20c272c1a9357b484307970e7e76ab64d690d6ce6bcec02b0d24697355ea9a16dcd44bbe48413b95f59fd187b

test:
  secret_key_base: dc5ad4ed7cc34e50b0eda5586e002b03416ca2ee275485d59157c5974bbf635f214406c989af1639a534c6661ee73777839131d57b2c0908eea161dd37eb4610

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
