<h1>All Campaigns</h1>

<h2>Recent Campaigns</h2>

<% @campaigns.each do |campaign| %>
  <div class="well">
    <%= link_to campaign.title.capitalize, campaign_path(campaign) %>
    <hr>
  </div>
<% end %>
